<!DOCTYPE html>
<html lang="en">
    <!-- INCLUDE HEAD -->
    <%- include("./partials/head.ejs") %>
<body>
    <!-- INCLUDE HEADER -->
    <%- include("./partials/header.ejs") %>
    <h1>Budgtr Edit Page</h1>

    <!-- INCLUDE FOOTER -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>